.bottom__navigation__container
{
    background-color: #ffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-shadow: -1rem 0 1rem -.25rem rgba($color: #000000, $alpha: .25);
    .bottom__nav {
        list-style: none;
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: .25rem;
        margin-bottom: 0;
        padding: .5rem;
        .bottom__nav__items {
            .bottom__nav__link {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: rgba($color: #000000, $alpha: .5);
                .bottom__nav__icon {
                    font-size: 1.2rem;
                }
                .bottom__nav__text {
                    font-size: .825rem;
                }            
            }
        }
    }
}